# 1. 데이터 불러오기

In [60]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns; sns.set_theme(color_codes=True)
import missingno as msno

In [217]:
%%time
dtype = {
    'userID': 'int16',
    'answerCode': 'int8',
    'KnowledgeTag': 'int16'
}   

DATA_PATH = '../data/test_data.csv'
df = pd.read_csv(DATA_PATH, dtype=dtype, parse_dates=['Timestamp'])
# DATA_PATH = '../data/train_data.csv'
# df1 = pd.read_csv(DATA_PATH, dtype=dtype, parse_dates=['Timestamp'])
# df = pd.concat([df,df1])
df = df.sort_values(by=['userID', 'Timestamp']).reset_index(drop=True)

CPU times: user 424 ms, sys: 24 ms, total: 448 ms
Wall time: 448 ms

In [62]:
df.head()

,userID,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag
0,3,A050023001,A050000023,1,2020-01-09 10:56:31,2626
1,3,A050023002,A050000023,1,2020-01-09 10:56:57,2626
2,3,A050023003,A050000023,0,2020-01-09 10:58:31,2625
3,3,A050023004,A050000023,0,2020-01-09 10:58:36,2625
4,3,A050023006,A050000023,0,2020-01-09 10:58:43,2623

In [218]:
print(f"""--- BASIC INFORMATIONS ---
userID           : {df.userID.nunique()}
assessmentItemID : {df.assessmentItemID.nunique()}
testID           : {df.testId.nunique()}
mean answer rate : {df.answerCode.sum() / df.shape[0] * 100:.2f}%
KnowledgeTag     : {df.KnowledgeTag.nunique()}
{'-'*26}""")

--- BASIC INFORMATIONS ---
userID           : 744
assessmentItemID : 9454
testID           : 1537
mean answer rate : 65.22%
KnowledgeTag     : 912
--------------------------

In [106]:
presub = df[df['answerCode']==-1]
presub = presub.drop(columns=['Timestamp','assessmentItemID','userID','answerCode']).reset_index(drop=True)
presub.head()

   KnowledgeTag
0          5289
1          9080
2          9660
3          2611
4          1422

# 2. User 별 평균 점수 적용

In [64]:
def percentile(s):
    return np.sum(s) / len(s)

In [65]:
df = df.drop(columns=['testId'])
# df1 = df1.drop(columns=['testId'])

In [66]:
userdf = df.groupby("userID").agg({
    'assessmentItemID': 'count',
    'answerCode': percentile
    })

userdf = userdf.reset_index(drop=False)
userdf.head(10)

   userID  assessmentItemID  answerCode
0       3              1036    0.691120
1       4               671    0.691505
2      13              1317    0.694002
3      17              1260    0.817460
4      26               387    0.754522
5      29               854    0.845433
6      45              1084    0.687269
7      53               693    0.520924
8      58               811    0.362515
9      64              1270    0.832283

In [67]:
userRB = userdf['answerCode']

In [68]:
userRB.head()

0    0.691120
1    0.691505
2    0.694002
3    0.817460
4    0.754522
Name: answerCode, dtype: float64

In [69]:
# userRB.to_csv('userRB.csv')

# 3. 문항별 평균 점수 적용

## 3-1. 문제 대분류

In [210]:

itemdf = pd.concat([df['assessmentItemID'].apply(lambda x: x[2:3]),df['answerCode']],axis = 1)

itemdf.head(100)

   assessmentItemID  answerCode
0                 5           1
1                 5           1
2                 5           0
3                 5           0
4                 5           0
..              ...         ...
95                2           1
96                2           1
97                2           1
98                2           1
99                2           1

[100 rows x 2 columns]

In [211]:
itemdf.describe()

          answerCode
count  260114.000000
mean        0.652172
std         0.482250
min        -1.000000
25%         0.000000
50%         1.000000
75%         1.000000
max         1.000000

In [175]:
itemscore = itemdf.groupby('assessmentItemID').agg({
    "answerCode":percentile
})
itemscore = itemscore.reset_index()

In [176]:
itemscore

  assessmentItemID  answerCode
0                1    0.804377
1                2    0.736795
2                3    0.697083
3                4    0.644724
4                5    0.662618
5                6    0.733989
6                7    0.515691
7                8    0.477395
8                9    0.498492

In [219]:
df.head()

,userID,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag
0,3,A050023001,A050000023,1,2020-01-09 10:56:31,2626
1,3,A050023002,A050000023,1,2020-01-09 10:56:57,2626
2,3,A050023003,A050000023,0,2020-01-09 10:58:31,2625
3,3,A050023004,A050000023,0,2020-01-09 10:58:36,2625
4,3,A050023006,A050000023,0,2020-01-09 10:58:43,2623

In [225]:
presub1 = df[df['answerCode']==-1]
presub1 = presub1.drop(columns=['Timestamp','KnowledgeTag','userID','answerCode','testId']).reset_index(drop=True)
presub1 = pd.DataFrame(presub1['assessmentItemID'].apply(lambda x: x[2:3]))
presub1.describe()

       assessmentItemID
count               744
unique                9
top                   7
freq                123

In [229]:
presub1.head()

  assessmentItemID
0                5
1                7
2                7
3                9
4                6

In [226]:
answer = []
for i in range(len(presub1)):
    answer.append(float(itemscore[itemscore['assessmentItemID']==presub1.iloc[i,0]]['answerCode'].values))
answer

[0.6626179514807197,
 0.5156907239318131,
 0.5156907239318131,
 0.49849164288626174,
 0.7339892217069808,
 0.73679495572477,
 0.6447237544081743,
 0.6447237544081743,
 0.5156907239318131,
 0.5156907239318131,
 0.6626179514807197,
 0.5156907239318131,
 0.8043766578249337,
 0.6626179514807197,
 0.6626179514807197,
 0.73679495572477,
 0.5156907239318131,
 0.73679495572477,
 0.7339892217069808,
 0.5156907239318131,
 0.7339892217069808,
 0.6447237544081743,
 0.6626179514807197,
 0.5156907239318131,
 0.5156907239318131,
 0.8043766578249337,
 0.8043766578249337,
 0.8043766578249337,
 0.6626179514807197,
 0.4773951745139377,
 0.6626179514807197,
 0.6447237544081743,
 0.49849164288626174,
 0.4773951745139377,
 0.5156907239318131,
 0.49849164288626174,
 0.7339892217069808,
 0.5156907239318131,
 0.73679495572477,
 0.5156907239318131,
 0.7339892217069808,
 0.4773951745139377,
 0.5156907239318131,
 0.4773951745139377,
 0.5156907239318131,
 0.5156907239318131,
 0.7339892217069808,
 0.4773951745139377,
 0.8043766578249337,
 0.5156907239318131,
 0.4773951745139377,
 0.4773951745139377,
 0.5156907239318131,
 0.5156907239318131,
 0.73679495572477,
 0.6626179514807197,
 0.6970829964969011,
 0.6447237544081743,
 0.6626179514807197,
 0.5156907239318131,
 0.6447237544081743,
 0.8043766578249337,
 0.5156907239318131,
 0.4773951745139377,
 0.4773951745139377,
 0.6970829964969011,
 0.7339892217069808,
 0.49849164288626174,
 0.5156907239318131,
 0.5156907239318131,
 0.49849164288626174,
 0.8043766578249337,
 0.73679495572477,
 0.4773951745139377,
 0.49849164288626174,
 0.73679495572477,
 0.5156907239318131,
 0.5156907239318131,
 0.5156907239318131,
 0.6447237544081743,
 0.4773951745139377,
 0.8043766578249337,
 0.8043766578249337,
 0.8043766578249337,
 0.7339892217069808,
 0.5156907239318131,
 0.4773951745139377,
 0.49849164288626174,
 0.8043766578249337,
 0.5156907239318131,
 0.5156907239318131,
 0.5156907239318131,
 0.5156907239318131,
 0.6447237544081743,
 0.6970829964969011,
 0.5156907239318131,
 0.5156907239318131,
 0.5156907239318131,
 0.6970829964969011,
 0.8043766578249337,
 0.73679495572477,
 0.73679495572477,
 0.6970829964969011,
 0.5156907239318131,
 0.8043766578249337,
 0.73679495572477,
 0.5156907239318131,
 0.8043766578249337,
 0.5156907239318131,
 0.7339892217069808,
 0.6447237544081743,
 0.73679495572477,
 0.5156907239318131,
 0.5156907239318131,
 0.4773951745139377,
 0.73679495572477,
 0.8043766578249337,
 0.4773951745139377,
 0.4773951745139377,
 0.4773951745139377,
 0.4773951745139377,
 0.8043766578249337,
 0.49849164288626174,
 0.5156907239318131,
 0.6626179514807197,
 0.4773951745139377,
 0.73679495572477,
 0.4773951745139377,
 0.6970829964969011,
 0.6626179514807197,
 0.8043766578249337,
 0.6970829964969011,
 0.6447237544081743,
 0.5156907239318131,
 0.4773951745139377,
 0.6447237544081743,
 0.6447237544081743,
 0.6626179514807197,
 0.4773951745139377,
 0.6447237544081743,
 0.6626179514807197,
 0.5156907239318131,
 0.5156907239318131,
 0.7339892217069808,
 0.5156907239318131,
 0.5156907239318131,
 0.7339892217069808,
 0.8043766578249337,
 0.4773951745139377,
 0.6626179514807197,
 0.5156907239318131,
 0.5156907239318131,
 0.5156907239318131,
 0.7339892217069808,
 0.49849164288626174,
 0.6447237544081743,
 0.4773951745139377,
 0.8043766578249337,
 0.6447237544081743,
 0.4773951745139377,
 0.4773951745139377,
 0.4773951745139377,
 0.4773951745139377,
 0.6626179514807197,
 0.5156907239318131,
 0.4773951745139377,
 0.6447237544081743,
 0.49849164288626174,
 0.73679495572477,
 0.8043766578249337,
 0.7339892217069808,
 0.4773951745139377,
 0.5156907239318131,
 0.6970829964969011,
 0.7339892217069808,
 0.73679495572477,
 0.8043766578249337,
 0.6970829964969011,
 0.4773951745139377,
 0.5156907239318131,
 0.6447237544081743,
 0.5156907239318131,
 0.6970829964969011,
 0.4773951745139377,
 0.8043766578249337,
 0.4773951745139377,
 0.73679495572477,
 0.5156907239318131,
 0.8043766578249337,
 0.7339892217069808,
 0.73679495572477,
 0.5156907239318131,
 0.6970829964969011,
 0.8043766578249337,
 0.7339892217069808,
 0.6447237544081743,
 0.8043766578249337,
 0.6447237544081743,
 0.6970829964969011,
 0.4773951745139377,
 0.4773951745139377,
 0.6626179514807197,
 0.4773951745139377,
 0.8043766578249337,
 0.6626179514807197,
 0.8043766578249337,
 0.6626179514807197,
 0.4773951745139377,
 0.4773951745139377,
 0.7339892217069808,
 0.49849164288626174,
 0.5156907239318131,
 0.6626179514807197,
 0.4773951745139377,
 0.5156907239318131,
 0.6447237544081743,
 0.5156907239318131,
 0.4773951745139377,
 0.73679495572477,
 0.6626179514807197,
 0.6447237544081743,
 0.7339892217069808,
 0.49849164288626174,
 0.49849164288626174,
 0.8043766578249337,
 0.6970829964969011,
 0.7339892217069808,
 0.73679495572477,
 0.6970829964969011,
 0.4773951745139377,
 0.4773951745139377,
 0.73679495572477,
 0.5156907239318131,
 0.49849164288626174,
 0.5156907239318131,
 0.73679495572477,
 0.6970829964969011,
 0.4773951745139377,
 0.5156907239318131,
 0.6447237544081743,
 0.6447237544081743,
 0.5156907239318131,
 0.4773951745139377,
 0.8043766578249337,
 0.73679495572477,
 0.4773951745139377,
 0.5156907239318131,
 0.6626179514807197,
 0.6626179514807197,
 0.5156907239318131,
 0.49849164288626174,
 0.6626179514807197,
 0.8043766578249337,
 0.6970829964969011,
 0.73679495572477,
 0.4773951745139377,
 0.5156907239318131,
 0.73679495572477,
 0.4773951745139377,
 0.4773951745139377,
 0.7339892217069808,
 0.6970829964969011,
 0.7339892217069808,
 0.5156907239318131,
 0.49849164288626174,
 0.7339892217069808,
 0.8043766578249337,
 0.6447237544081743,
 0.6447237544081743,
 0.6447237544081743,
 0.4773951745139377,
 0.49849164288626174,
 0.6970829964969011,
 0.73679495572477,
 0.73679495572477,
 0.6626179514807197,
 0.8043766578249337,
 0.6447237544081743,
 0.4773951745139377,
 0.4773951745139377,
 0.73679495572477,
 0.73679495572477,
 0.7339892217069808,
 0.8043766578249337,
 0.5156907239318131,
 0.4773951745139377,
 0.4773951745139377,
 0.6626179514807197,
 0.6447237544081743,
 0.7339892217069808,
 0.6447237544081743,
 0.4773951745139377,
 0.6970829964969011,
 0.7339892217069808,
 0.73679495572477,
 0.5156907239318131,
 0.6970829964969011,
 0.6447237544081743,
 0.4773951745139377,
 0.8043766578249337,
 0.5156907239318131,
 0.6626179514807197,
 0.6970829964969011,
 0.6447237544081743,
 0.7339892217069808,
 0.4773951745139377,
 0.6970829964969011,
 0.8043766578249337,
 0.5156907239318131,
 0.73679495572477,
 0.5156907239318131,
 0.7339892217069808,
 0.6626179514807197,
 0.6447237544081743,
 0.4773951745139377,
 0.8043766578249337,
 0.6447237544081743,
 0.4773951745139377,
 0.5156907239318131,
 0.6447237544081743,
 0.4773951745139377,
 0.7339892217069808,
 0.73679495572477,
 0.8043766578249337,
 0.73679495572477,
 0.4773951745139377,
 0.6626179514807197,
 0.5156907239318131,
 0.7339892217069808,
 0.6626179514807197,
 0.6447237544081743,
 0.5156907239318131,
 0.8043766578249337,
 0.5156907239318131,
 0.73679495572477,
 0.6447237544081743,
 0.6626179514807197,
 0.73679495572477,
 0.8043766578249337,
 0.73679495572477,
 0.73679495572477,
 0.7339892217069808,
 0.8043766578249337,
 0.5156907239318131,
 0.6447237544081743,
 0.6626179514807197,
 0.6970829964969011,
 0.4773951745139377,
 0.73679495572477,
 0.7339892217069808,
 0.6447237544081743,
 0.6447237544081743,
 0.7339892217069808,
 0.6970829964969011,
 0.6447237544081743,
 0.5156907239318131,
 0.6626179514807197,
 0.5156907239318131,
 0.49849164288626174,
 0.6626179514807197,
 0.73679495572477,
 0.49849164288626174,
 0.5156907239318131,
 0.4773951745139377,
 0.5156907239318131,
 0.6447237544081743,
 0.6626179514807197,
 0.5156907239318131,
 0.5156907239318131,
 0.4773951745139377,
 0.6626179514807197,
 0.6970829964969011,
 0.6447237544081743,
 0.4773951745139377,
 0.6447237544081743,
 0.6970829964969011,
 0.4773951745139377,
 0.6447237544081743,
 0.73679495572477,
 0.6970829964969011,
 0.5156907239318131,
 0.6970829964969011,
 0.6970829964969011,
 0.4773951745139377,
 0.8043766578249337,
 0.4773951745139377,
 0.5156907239318131,
 0.73679495572477,
 0.6447237544081743,
 0.4773951745139377,
 0.5156907239318131,
 0.6970829964969011,
 0.4773951745139377,
 0.6970829964969011,
 0.6970829964969011,
 0.73679495572477,
 0.6626179514807197,
 0.8043766578249337,
 0.4773951745139377,
 0.5156907239318131,
 0.8043766578249337,
 0.6970829964969011,
 0.4773951745139377,
 0.4773951745139377,
 0.4773951745139377,
 0.6447237544081743,
 0.73679495572477,
 0.5156907239318131,
 0.4773951745139377,
 0.4773951745139377,
 0.8043766578249337,
 0.6970829964969011,
 0.5156907239318131,
 0.6970829964969011,
 0.6970829964969011,
 0.6447237544081743,
 0.73679495572477,
 0.7339892217069808,
 0.6626179514807197,
 0.73679495572477,
 0.5156907239318131,
 0.6447237544081743,
 0.7339892217069808,
 0.6626179514807197,
 0.6970829964969011,
 0.5156907239318131,
 0.8043766578249337,
 0.6447237544081743,
 0.6970829964969011,
 0.4773951745139377,
 0.73679495572477,
 0.4773951745139377,
 0.8043766578249337,
 0.6447237544081743,
 0.8043766578249337,
 0.6626179514807197,
 0.5156907239318131,
 0.5156907239318131,
 0.8043766578249337,
 0.6626179514807197,
 0.4773951745139377,
 0.6447237544081743,
 0.5156907239318131,
 0.6970829964969011,
 0.5156907239318131,
 0.7339892217069808,
 0.6626179514807197,
 0.73679495572477,
 0.73679495572477,
 0.4773951745139377,
 0.6447237544081743,
 0.8043766578249337,
 0.8043766578249337,
 0.4773951745139377,
 0.4773951745139377,
 0.6626179514807197,
 0.4773951745139377,
 0.6626179514807197,
 0.6447237544081743,
 0.6626179514807197,
 0.4773951745139377,
 0.6447237544081743,
 0.73679495572477,
 0.73679495572477,
 0.73679495572477,
 0.6626179514807197,
 0.8043766578249337,
 0.6447237544081743,
 0.5156907239318131,
 0.73679495572477,
 0.6626179514807197,
 0.6970829964969011,
 0.6970829964969011,
 0.5156907239318131,
 0.4773951745139377,
 0.6970829964969011,
 0.73679495572477,
 0.73679495572477,
 0.5156907239318131,
 0.6970829964969011,
 0.6970829964969011,
 0.6626179514807197,
 0.73679495572477,
 0.5156907239318131,
 0.7339892217069808,
 0.4773951745139377,
 0.6447237544081743,
 0.6970829964969011,
 0.4773951745139377,
 0.6970829964969011,
 0.7339892217069808,
 0.5156907239318131,
 0.7339892217069808,
 0.5156907239318131,
 0.73679495572477,
 0.6626179514807197,
 0.4773951745139377,
 0.4773951745139377,
 0.4773951745139377,
 0.7339892217069808,
 0.7339892217069808,
 0.73679495572477,
 0.4773951745139377,
 0.73679495572477,
 0.6970829964969011,
 0.6447237544081743,
 0.6626179514807197,
 0.73679495572477,
 0.73679495572477,
 0.5156907239318131,
 0.73679495572477,
 0.4773951745139377,
 0.8043766578249337,
 0.73679495572477,
 0.6970829964969011,
 0.8043766578249337,
 0.6626179514807197,
 0.7339892217069808,
 0.6626179514807197,
 0.73679495572477,
 0.8043766578249337,
 0.8043766578249337,
 0.8043766578249337,
 0.6970829964969011,
 0.6447237544081743,
 0.6447237544081743,
 0.7339892217069808,
 0.6970829964969011,
 0.6970829964969011,
 0.6447237544081743,
 0.5156907239318131,
 0.4773951745139377,
 0.5156907239318131,
 0.5156907239318131,
 0.4773951745139377,
 0.6626179514807197,
 0.4773951745139377,
 0.7339892217069808,
 0.7339892217069808,
 0.7339892217069808,
 0.6447237544081743,
 0.6626179514807197,
 0.6970829964969011,
 0.4773951745139377,
 0.6626179514807197,
 0.73679495572477,
 0.6626179514807197,
 0.8043766578249337,
 0.6447237544081743,
 0.6447237544081743,
 0.6447237544081743,
 0.6626179514807197,
 0.6447237544081743,
 0.6626179514807197,
 0.6970829964969011,
 0.6970829964969011,
 0.6447237544081743,
 0.73679495572477,
 0.73679495572477,
 0.6970829964969011,
 0.7339892217069808,
 0.8043766578249337,
 0.6626179514807197,
 0.6970829964969011,
 0.7339892217069808,
 0.6970829964969011,
 0.8043766578249337,
 0.6970829964969011,
 0.6447237544081743,
 0.6626179514807197,
 0.5156907239318131,
 0.6970829964969011,
 0.6447237544081743,
 0.73679495572477,
 0.5156907239318131,
 0.6970829964969011,
 0.4773951745139377,
 0.6447237544081743,
 0.7339892217069808,
 0.6447237544081743,
 0.6447237544081743,
 0.8043766578249337,
 0.8043766578249337,
 0.6447237544081743,
 0.6626179514807197,
 0.4773951745139377,
 0.5156907239318131,
 0.7339892217069808,
 0.6447237544081743,
 0.73679495572477,
 0.5156907239318131,
 0.4773951745139377,
 0.5156907239318131,
 0.73679495572477,
 0.6447237544081743,
 0.73679495572477,
 0.6970829964969011,
 0.7339892217069808,
 0.7339892217069808,
 0.6626179514807197,
 0.8043766578249337,
 0.6447237544081743,
 0.6447237544081743,
 0.4773951745139377,
 0.6970829964969011,
 0.6447237544081743,
 0.6970829964969011,
 0.6626179514807197,
 0.4773951745139377,
 0.8043766578249337,
 0.7339892217069808,
 0.4773951745139377,
 0.6447237544081743,
 0.7339892217069808,
 0.6626179514807197,
 0.73679495572477,
 0.4773951745139377,
 0.5156907239318131,
 0.6626179514807197,
 0.7339892217069808,
 0.5156907239318131,
 0.5156907239318131,
 0.6970829964969011,
 0.73679495572477,
 0.73679495572477,
 0.6970829964969011,
 0.8043766578249337,
 0.6447237544081743,
 0.4773951745139377,
 0.73679495572477,
 0.5156907239318131,
 0.6447237544081743,
 0.6626179514807197,
 0.6626179514807197,
 0.6626179514807197,
 0.7339892217069808,
 0.73679495572477,
 0.4773951745139377,
 0.8043766578249337,
 0.6626179514807197,
 0.73679495572477,
 0.6447237544081743,
 0.7339892217069808,
 0.73679495572477,
 0.5156907239318131,
 0.4773951745139377,
 0.5156907239318131,
 0.6626179514807197,
 0.5156907239318131,
 0.73679495572477,
 0.7339892217069808,
 0.6447237544081743,
 0.8043766578249337,
 0.6970829964969011,
 0.6970829964969011,
 0.5156907239318131,
 0.6970829964969011,
 0.4773951745139377,
 0.5156907239318131,
 0.6970829964969011,
 0.6447237544081743,
 0.8043766578249337,
 0.6447237544081743,
 0.4773951745139377,
 0.6970829964969011,
 0.6626179514807197,
 0.7339892217069808,
 0.6970829964969011,
 0.6626179514807197,
 0.5156907239318131,
 0.6970829964969011,
 0.73679495572477,
 0.8043766578249337,
 0.5156907239318131,
 0.6626179514807197,
 0.8043766578249337,
 0.6626179514807197,
 0.6447237544081743,
 0.5156907239318131,
 0.6447237544081743,
 0.6626179514807197,
 0.6626179514807197,
 0.6626179514807197,
 0.7339892217069808,
 0.6447237544081743,
 0.6970829964969011,
 0.73679495572477,
 0.8043766578249337,
 0.6970829964969011,
 0.6447237544081743,
 0.6447237544081743,
 0.7339892217069808,
 0.7339892217069808,
 0.6970829964969011,
 0.8043766578249337,
 0.5156907239318131,
 0.5156907239318131,
 0.6970829964969011,
 0.6970829964969011,
 0.8043766578249337,
 0.73679495572477,
 0.6447237544081743,
 0.7339892217069808,
 0.6447237544081743,
 0.6626179514807197,
 0.6970829964969011,
 0.7339892217069808,
 0.8043766578249337,
 0.5156907239318131,
 0.7339892217069808,
 0.73679495572477,
 0.6626179514807197,
 0.4773951745139377,
 0.73679495572477,
 0.7339892217069808,
 0.4773951745139377,
 0.6970829964969011,
 0.6970829964969011,
 0.6970829964969011,
 0.73679495572477,
 0.73679495572477,
 0.73679495572477,
 0.5156907239318131,
 0.6970829964969011,
 0.73679495572477,
 0.6970829964969011,
 0.4773951745139377,
 0.7339892217069808,
 0.6970829964969011,
 0.6626179514807197,
 0.8043766578249337,
 0.6447237544081743,
 0.73679495572477,
 0.6447237544081743,
 0.6447237544081743,
 0.6447237544081743,
 0.6626179514807197,
 0.6626179514807197,
 0.8043766578249337,
 0.6447237544081743,
 0.6970829964969011,
 0.6626179514807197,
 0.6626179514807197,
 0.6447237544081743]

In [227]:
ans = pd.DataFrame(answer, columns=['prediction'])
user = list(range(len(ans)))
user = pd.DataFrame(user,columns=['user'])

submission = pd.concat([user,ans],axis=1)

In [228]:
submission.head()

   user  prediction
0     0    0.662618
1     1    0.515691
2     2    0.515691
3     3    0.498492
4     4    0.733989

In [230]:
submission.to_csv('ItemID_RB.csv')

## 3-2 KnowledgeTag

In [116]:
knowtagdf = df.groupby('KnowledgeTag').agg({
    'answerCode':percentile
})
knowtagdf =knowtagdf.reset_index()

In [117]:
knowtagdf.head(500)

     KnowledgeTag  answerCode
0              23    0.670000
1              24    0.714286
2              25    0.750000
3              26    0.578358
4              30    0.475410
..            ...         ...
495          5780    0.492063
496          5781    0.443137
497          5782    0.421818
498          5783    0.454545
499          5788    0.454348

[500 rows x 2 columns]

In [119]:
knowtagdf[knowtagdf['KnowledgeTag']==23]['answerCode']

#평균 : 0.6544

0    0.67
Name: answerCode, dtype: float64

In [123]:
presub['KnowledgeTag']

0       5289
1       9080
2       9660
3       2611
4       1422
       ...
739    10615
740     7636
741    10402
742    10402
743     8832
Name: KnowledgeTag, Length: 744, dtype: int16

In [146]:
answer = []
for n in range(len(presub)):
    answer.append(float(knowtagdf[knowtagdf['KnowledgeTag']==presub.iloc[n,0]]['answerCode'].values ))
answer

[0.5426621160409556,
 0.5656934306569343,
 0.44675324675324674,
 0.5142857142857142,
 0.6027667984189723,
 0.6424242424242425,
 0.6470588235294118,
 0.6650485436893204,
 0.34347826086956523,
 0.5656934306569343,
 0.7189922480620154,
 0.5485436893203883,
 0.8271889400921659,
 0.6058823529411764,
 0.732824427480916,
 0.7836644591611479,
 0.4864864864864865,
 0.8337408312958435,
 0.772020725388601,
 0.5656934306569343,
 0.7620967741935484,
 0.49427480916030536,
 0.6063348416289592,
 0.5738636363636364,
 0.5353535353535354,
 0.8271889400921659,
 0.8271889400921659,
 0.8503649635036497,
 0.5605095541401274,
 0.44545454545454544,
 0.4985754985754986,
 0.5974025974025974,
 0.3333333333333333,
 0.34210526315789475,
 0.549792531120332,
 0.42298850574712643,
 0.7223650385604113,
 0.3672316384180791,
 0.5252918287937743,
 0.6733333333333333,
 0.7012345679012346,
 0.4496124031007752,
 0.5359116022099447,
 0.5485436893203883,
 0.4152542372881356,
 0.549792531120332,
 0.7737226277372263,
 0.5505226480836237,
 0.8271889400921659,
 0.5738636363636364,
 0.39501779359430605,
 0.3739130434782609,
 0.549792531120332,
 0.5656934306569343,
 0.6613756613756614,
 0.6219178082191781,
 0.625,
 0.8163265306122449,
 0.6666666666666666,
 0.6733333333333333,
 0.7760910815939279,
 0.8271889400921659,
 0.2891566265060241,
 0.5182012847965739,
 0.4106583072100313,
 0.4438202247191011,
 0.6511627906976745,
 0.5432098765432098,
 -0.1388888888888889,
 -0.1388888888888889,
 0.4852941176470588,
 0.8111888111888111,
 0.7836644591611479,
 0.5093167701863354,
 0.6666666666666666,
 0.6201298701298701,
 0.46641074856046066,
 0.5656934306569343,
 0.6733333333333333,
 0.6470588235294118,
 0.5838709677419355,
 0.7972350230414746,
 0.6897196261682244,
 0.8342857142857143,
 0.8456521739130435,
 0.3672316384180791,
 0.46439628482972134,
 0.3333333333333333,
 0.7972350230414746,
 0.4218181818181818,
 0.3672316384180791,
 0.2891566265060241,
 0.592741935483871,
 0.781021897810219,
 0.6142857142857143,
 0.44675324675324674,
 0.34347826086956523,
 0.5212765957446809,
 0.664488017429194,
 0.7760869565217391,
 0.6424242424242425,
 0.6613756613756614,
 0.7808219178082192,
 0.5010893246187363,
 0.8111888111888111,
 0.7692307692307693,
 0.5656934306569343,
 0.7198641765704584,
 0.34347826086956523,
 0.5011600928074246,
 0.5974025974025974,
 0.7831325301204819,
 0.4944237918215613,
 -0.1388888888888889,
 0.46439628482972134,
 0.8337408312958435,
 0.7198641765704584,
 0.5093167701863354,
 0.46439628482972134,
 0.3902439024390244,
 0.5066225165562914,
 0.788785046728972,
 0.3333333333333333,
 0.5010893246187363,
 0.6058823529411764,
 0.5416666666666666,
 0.8337408312958435,
 0.06521739130434782,
 0.7808219178082192,
 0.5276073619631901,
 0.7760869565217391,
 0.812375249500998,
 0.7209302325581395,
 0.3672316384180791,
 0.5555555555555556,
 0.5226860254083484,
 0.6650485436893204,
 0.7189922480620154,
 0.5,
 0.5974025974025974,
 0.6797066014669927,
 0.5010893246187363,
 0.5136986301369864,
 0.5447761194029851,
 0.44675324675324674,
 -0.1388888888888889,
 0.8456521739130435,
 0.8235294117647058,
 0.46439628482972134,
 0.7189922480620154,
 0.6733333333333333,
 -0.1388888888888889,
 0.518348623853211,
 0.6303939962476548,
 0.5301204819277109,
 0.7459677419354839,
 0.46439628482972134,
 0.8548707753479126,
 0.718475073313783,
 0.5954545454545455,
 0.46439628482972134,
 0.22727272727272727,
 0.5121951219512195,
 0.6235955056179775,
 0.464,
 0.581081081081081,
 0.75,
 0.4256410256410256,
 0.6613756613756614,
 0.7165775401069518,
 0.7039106145251397,
 0.4354243542435424,
 0.34347826086956523,
 0.6434782608695652,
 0.5250544662309368,
 0.7785714285714286,
 0.7463414634146341,
 0.5247524752475248,
 0.4354243542435424,
 0.3672316384180791,
 0.4944852941176471,
 0.5738636363636364,
 0.5911708253358925,
 0.49295774647887325,
 0.8342857142857143,
 0.46439628482972134,
 0.5252918287937743,
 0.5185185185185185,
 0.8111888111888111,
 0.5209003215434084,
 0.6180555555555556,
 0.4864864864864865,
 0.59,
 0.8271889400921659,
 0.7333333333333333,
 0.7760910815939279,
 0.8503649635036497,
 0.7254901960784313,
 0.7718120805369127,
 0.06521739130434782,
 0.5,
 0.6058823529411764,
 0.5066225165562914,
 0.7198641765704584,
 0.6235955056179775,
 0.8036363636363636,
 0.6058823529411764,
 0.06521739130434782,
 0.4354243542435424,
 0.5011600928074246,
 0.54,
 0.2891566265060241,
 0.5024038461538461,
 0.06521739130434782,
 0.34347826086956523,
 0.7070484581497798,
 0.592741935483871,
 0.3902439024390244,
 0.8337408312958435,
 0.7038461538461539,
 0.7883211678832117,
 0.6518771331058021,
 0.54,
 0.5757575757575758,
 0.7760869565217391,
 0.6223776223776224,
 0.7333333333333333,
 0.6613756613756614,
 0.1875,
 0.06521739130434782,
 0.46439628482972134,
 0.8337408312958435,
 0.6776315789473685,
 0.3333333333333333,
 0.5791505791505791,
 0.7070484581497798,
 0.1875,
 0.4496124031007752,
 0.5938864628820961,
 0.5974025974025974,
 0.7760910815939279,
 0.34347826086956523,
 0.5,
 0.6897196261682244,
 0.82560706401766,
 0.22727272727272727,
 -0.1388888888888889,
 0.7189922480620154,
 0.6063348416289592,
 0.4944237918215613,
 0.4876543209876543,
 0.6063348416289592,
 0.8271889400921659,
 0.6386363636363637,
 0.6613756613756614,
 0.46439628482972134,
 0.72,
 0.8337408312958435,
 0.25,
 0.34210526315789475,
 0.6412639405204461,
 0.664488017429194,
 0.7333333333333333,
 0.5010893246187363,
 0.578125,
 0.8456521739130435,
 0.7969543147208121,
 0.7175843694493783,
 0.7760910815939279,
 0.7883211678832117,
 0.06521739130434782,
 0.578125,
 0.59,
 0.6756152125279642,
 0.7836644591611479,
 0.7050938337801609,
 0.7165775401069518,
 0.6650485436893204,
 0.5505226480836237,
 0.46439628482972134,
 0.6201298701298701,
 0.6268656716417911,
 0.772020725388601,
 0.8503649635036497,
 0.5277777777777778,
 0.2345679012345679,
 0.34210526315789475,
 0.6058823529411764,
 0.6666666666666666,
 0.774294670846395,
 0.49427480916030536,
 0.25,
 0.6434782608695652,
 0.7333333333333333,
 0.6613756613756614,
 0.532258064516129,
 0.5223529411764706,
 0.6650485436893204,
 0.44545454545454544,
 0.8036363636363636,
 0.4787234042553192,
 0.6058823529411764,
 0.7146282973621103,
 0.5560344827586207,
 0.8297872340425532,
 0.4354243542435424,
 0.625,
 0.8636363636363636,
 0.5906432748538012,
 0.6194029850746269,
 0.5032679738562091,
 0.7039106145251397,
 0.5605095541401274,
 0.7070484581497798,
 0.5066225165562914,
 0.8746987951807229,
 0.9310344827586207,
 0.06521739130434782,
 0.44675324675324674,
 0.705685618729097,
 0.34210526315789475,
 0.6511627906976745,
 0.7070484581497798,
 0.6897196261682244,
 0.6613756613756614,
 0.2345679012345679,
 0.7925170068027211,
 0.3672316384180791,
 0.7655860349127181,
 0.6345177664974619,
 0.9310344827586207,
 0.3672316384180791,
 0.7165775401069518,
 0.46641074856046066,
 0.7785714285714286,
 0.7070484581497798,
 0.4985754985754986,
 0.6008583690987125,
 0.8503649635036497,
 0.8233438485804416,
 0.5859872611464968,
 0.7223650385604113,
 0.6968641114982579,
 0.5656934306569343,
 0.7849117174959872,
 0.7805429864253394,
 0.750788643533123,
 0.06521739130434782,
 0.8337408312958435,
 0.7012345679012346,
 0.5670103092783505,
 0.8163265306122449,
 0.5585585585585585,
 0.5272727272727272,
 0.7760910815939279,
 0.3672316384180791,
 0.738819320214669,
 0.5738636363636364,
 0.54,
 0.7925170068027211,
 0.8233438485804416,
 0.48148148148148145,
 -0.1388888888888889,
 0.5,
 0.527027027027027,
 0.6470588235294118,
 0.6878306878306878,
 0.5738636363636364,
 0.2891566265060241,
 0.06521739130434782,
 0.7050938337801609,
 0.750788643533123,
 0.594306049822064,
 0.5555555555555556,
 0.5157894736842106,
 0.6258278145695364,
 0.4354243542435424,
 0.5974025974025974,
 0.5859872611464968,
 0.6142857142857143,
 -0.1388888888888889,
 0.7399193548387096,
 0.6434782608695652,
 0.39570552147239263,
 0.7165775401069518,
 0.5433333333333333,
 0.4579710144927536,
 0.6008583690987125,
 0.7209302325581395,
 0.46439628482972134,
 -0.1388888888888889,
 0.6392405063291139,
 0.5182012847965739,
 0.7107231920199502,
 0.6386363636363637,
 0.6180555555555556,
 0.8142076502732241,
 0.7198641765704584,
 0.06521739130434782,
 0.5032679738562091,
 0.8746987951807229,
 0.7694174757281553,
 0.46439628482972134,
 0.5,
 0.46439628482972134,
 0.4944852941176471,
 0.6756152125279642,
 0.5738636363636364,
 0.39570552147239263,
 0.5485436893203883,
 0.8271889400921659,
 0.3382352941176471,
 0.549792531120332,
 0.5247524752475248,
 0.6223776223776224,
 0.7204472843450479,
 0.7785714285714286,
 0.8297872340425532,
 0.7050938337801609,
 0.5252918287937743,
 0.549792531120332,
 0.7070484581497798,
 0.5011600928074246,
 0.6995073891625616,
 0.7718120805369127,
 0.34347826086956523,
 0.8,
 0.730593607305936,
 0.6223776223776224,
 0.46439628482972134,
 0.6180555555555556,
 0.581081081081081,
 0.7165775401069518,
 0.7453580901856764,
 0.7430167597765364,
 0.6345177664974619,
 0.5126436781609195,
 0.46641074856046066,
 0.8746987951807229,
 0.6263736263736264,
 0.5,
 0.7070484581497798,
 0.4944237918215613,
 0.6810126582278481,
 0.5656934306569343,
 0.6518771331058021,
 0.6995073891625616,
 0.7785714285714286,
 0.7553956834532374,
 0.345,
 0.7883211678832117,
 0.6897196261682244,
 0.8117647058823529,
 0.4430379746835443,
 0.34210526315789475,
 0.671875,
 0.46439628482972134,
 0.8142076502732241,
 0.705685618729097,
 0.6235955056179775,
 0.4354243542435424,
 0.764367816091954,
 0.6886363636363636,
 0.4702702702702703,
 0.6201298701298701,
 0.6058823529411764,
 0.7463414634146341,
 0.5974025974025974,
 0.2891566265060241,
 0.6268656716417911,
 0.5024038461538461,
 0.7718120805369127,
 0.6142857142857143,
 0.34347826086956523,
 0.46439628482972134,
 0.3382352941176471,
 0.6424242424242425,
 0.6180555555555556,
 0.5010893246187363,
 0.7808219178082192,
 0.664488017429194,
 0.6666666666666666,
 0.4702702702702703,
 -0.1388888888888889,
 0.8456521739130435,
 0.06521739130434782,
 0.5226860254083484,
 0.1875,
 0.22727272727272727,
 0.5223529411764706,
 0.6303939962476548,
 0.6733333333333333,
 0.7333333333333333,
 -0.1388888888888889,
 0.7926267281105991,
 0.7724358974358975,
 0.4117647058823529,
 0.3902439024390244,
 0.25,
 0.7333333333333333,
 0.7655860349127181,
 0.6201298701298701,
 0.5485436893203883,
 0.5032258064516129,
 0.7694174757281553,
 0.6666666666666666,
 0.6058823529411764,
 0.6756152125279642,
 0.5859872611464968,
 0.5032679738562091,
 0.6180555555555556,
 0.46439628482972134,
 0.7430167597765364,
 0.8233438485804416,
 0.7012195121951219,
 0.7969543147208121,
 0.7925170068027211,
 0.7223650385604113,
 0.5605095541401274,
 0.7831325301204819,
 0.8548707753479126,
 0.8111888111888111,
 0.7972350230414746,
 0.664488017429194,
 0.7070484581497798,
 0.9310344827586207,
 0.7012345679012346,
 0.812375249500998,
 0.59,
 0.7070484581497798,
 0.5089285714285714,
 0.4354243542435424,
 0.2891566265060241,
 0.4787234042553192,
 0.3739130434782609,
 0.732824427480916,
 0.46439628482972134,
 0.8489010989010989,
 0.5209003215434084,
 0.6518771331058021,
 0.7525083612040134,
 0.6819923371647509,
 0.7146282973621103,
 0.5783582089552238,
 0.6666666666666666,
 0.7302904564315352,
 0.8571428571428571,
 0.8503649635036497,
 0.7760910815939279,
 0.7165605095541401,
 0.7883211678832117,
 0.6361323155216285,
 0.7849117174959872,
 0.6797066014669927,
 0.4438202247191011,
 0.7012195121951219,
 0.7760910815939279,
 0.6756152125279642,
 0.7831325301204819,
 0.750788643533123,
 0.8297872340425532,
 0.8117647058823529,
 0.6666666666666666,
 0.6386363636363637,
 0.9126760563380282,
 0.6386363636363637,
 0.7430167597765364,
 0.5911708253358925,
 0.5974025974025974,
 0.6361323155216285,
 0.464,
 0.59,
 0.4944852941176471,
 0.6201298701298701,
 0.5185185185185185,
 0.6386363636363637,
 0.2345679012345679,
 0.6650485436893204,
 0.7695099818511797,
 0.5974025974025974,
 0.7209302325581395,
 0.7803468208092486,
 0.8342857142857143,
 0.6994219653179191,
 0.6063348416289592,
 0.5093167701863354,
 0.549792531120332,
 0.5209003215434084,
 0.7254901960784313,
 0.6180555555555556,
 0.549792531120332,
 0.4496124031007752,
 0.5938864628820961,
 0.8233438485804416,
 0.5974025974025974,
 0.6180555555555556,
 0.812375249500998,
 0.8297872340425532,
 0.6511627906976745,
 0.671875,
 0.7969543147208121,
 0.49427480916030536,
 0.7883211678832117,
 0.22727272727272727,
 0.6386363636363637,
 0.6521739130434783,
 0.3382352941176471,
 0.6819923371647509,
 0.2345679012345679,
 0.7450980392156863,
 0.70625,
 0.22727272727272727,
 0.8466666666666667,
 0.7620967741935484,
 0.671875,
 0.6613756613756614,
 0.4423076923076923,
 0.2891566265060241,
 0.6063348416289592,
 0.6702317290552585,
 0.3672316384180791,
 0.2891566265060241,
 0.5352941176470588,
 0.7364705882352941,
 0.6268656716417911,
 0.7346368715083799,
 0.8117647058823529,
 0.7760910815939279,
 0.46153846153846156,
 0.6268656716417911,
 0.5010893246187363,
 0.705685618729097,
 0.7724358974358975,
 0.6666666666666666,
 0.6018518518518519,
 0.6265560165975104,
 0.6268656716417911,
 0.4354243542435424,
 0.7430167597765364,
 0.6235955056179775,
 0.7836644591611479,
 0.6650485436893204,
 0.7039106145251397,
 0.7553956834532374,
 0.5032679738562091,
 0.39570552147239263,
 0.48857142857142855,
 0.7189922480620154,
 0.5791505791505791,
 0.6008583690987125,
 0.7620967741935484,
 0.7453580901856764,
 0.8312829525483304,
 0.750788643533123,
 0.4846153846153846,
 0.543859649122807,
 0.5352941176470588,
 0.5093167701863354,
 0.46641074856046066,
 0.664488017429194,
 0.594306049822064,
 0.8746987951807229,
 0.7047970479704797,
 0.5454545454545454,
 0.5247524752475248,
 0.671875,
 0.5447761194029851,
 0.4846153846153846,
 0.6623376623376623,
 0.4864864864864865,
 0.664488017429194,
 0.35514018691588783,
 0.7463414634146341,
 -0.1388888888888889,
 0.608359133126935,
 0.8323353293413174,
 0.6058823529411764,
 0.7883211678832117,
 0.518348623853211,
 0.5974025974025974,
 0.6063348416289592,
 0.6819923371647509,
 0.6434782608695652,
 0.8786127167630058,
 0.7883211678832117,
 0.4846153846153846,
 0.8539325842696629,
 0.8746987951807229,
 0.7346368715083799,
 0.7883211678832117,
 0.6994219653179191,
 0.5585585585585585,
 0.8786127167630058,
 0.6434782608695652,
 0.7165775401069518,
 0.5738636363636364,
 -0.1388888888888889,
 0.3382352941176471,
 0.750788643533123,
 0.8746987951807229,
 0.8337408312958435,
 0.764367816091954,
 0.6511627906976745,
 0.6994219653179191,
 0.6797066014669927,
 0.6392405063291139,
 0.5209003215434084,
 0.7430167597765364,
 0.45962732919254656,
 0.6036036036036037,
 0.82560706401766,
 0.7189922480620154,
 0.34210526315789475,
 0.5020408163265306,
 0.7727272727272727,
 0.46439628482972134,
 0.7399193548387096,
 0.7107231920199502,
 0.4438202247191011,
 0.6180555555555556,
 0.35514018691588783,
 0.8337408312958435,
 0.5933333333333334,
 0.664488017429194,
 0.7553956834532374,
 0.750788643533123,
 0.4430379746835443,
 0.5291750503018109,
 0.6434782608695652,
 0.6058823529411764,
 0.7760869565217391,
 0.7453580901856764,
 0.5252918287937743,
 0.5974025974025974,
 0.7209302325581395,
 0.7760910815939279,
 0.6995073891625616,
 0.6623376623376623,
 0.7972350230414746,
 0.6549019607843137,
 0.8346613545816733,
 0.7925170068027211,
 0.7925170068027211,
 0.5848484848484848]

In [160]:
ans = pd.DataFrame(answer, columns=['prediction'])
user = list(range(len(ans)))
user = pd.DataFrame(user,columns=['user'])

submission = pd.concat([user,ans],axis=1)

In [161]:
submission.head()

   user  prediction
0     0    0.542662
1     1    0.565693
2     2    0.446753
3     3    0.514286
4     4    0.602767

In [162]:
submission.to_csv('KnowledgeTag.csv')